<footer class="site-footer">

  <div class="footer" >
<h2>Redes sociales</h2>
  </div>
  <ul class="list-inline icons">
    <li><i class="fa fa-github fa-4x" aria-hidden="true"></i></li>
    <li><i class="fa fa-envelope fa-4x" aria-hidden="true"></i></li>
    <li><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></li>

  </ul>

</footer>
<style media="screen">
  .footer{

  margin: 0 auto;
  max-width: 400px;
color: white;
  text-align: center;
  }

  .icons{

    color: white;
    text-align:center;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;

  }

  .fa{
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.9s;
  }
  .fa:hover{

    color: #45C8AE;
  }
</style>
